.fighter-preview___root {
  display: flex;
  flex-direction: column;
	align-items: center;
	justify-content: end;
  flex-basis: 300px;
}

.fighter-preview___left {
	align-items: flex-end;
}

.fighter-preview___right {
	align-items: flex-start;
}

.fighter-preview___right img{
	transform: scaleX(-1);
}

.fighter-preview___left img, .fighter-preview___right img{
	height: 400px;
}

.fighter-preview___info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
  background: #ffdfa7;
  border: 5px solid #ca9650;
	width: 200px;
	padding: 20px;
	font-size: 20px;
}

.fighter-preview___info .name {
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 30px;
	align-self: center;
}

.fighter-preview___root .fighter-waiting {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-size: 32px;
	background: #ffdfa7;
	border: 5px solid #ca9650;
	border-radius: 25px;
	padding: 20px 25px;
	color: #767676;
	animation: rainbowText 0.5s infinite alternate-reverse ease-in-out;
}

@keyframes rainbowText {
	from{
		filter: hue-rotate(0deg);
		transform: scale(1.1);
	}
	to{
		filter: hue-rotate(720deg);
		transform: scale(0.9);
	}
}

.bar-container {
  background-color: #f1f1f1;
	width: 100%;
	height: 10px;
	margin-bottom: 5px;
}

.bar {
  background-color: #f44336;
	height: 100%;
}
